img {
  float: right;
  margin: 25px;
  max-width: 350px;
  height: auto;
  border: 1px solid white;
  border-radius: 50px;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}
