body {
    background-image: url(/Kilauea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
    color: darksalmon;
}

.container {
    display: flex;
    justify-content: center;
}